<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xidian.cs.cm.mapper.SongMapper">
	
	<resultMap type="Song" id="songResultMap">
		<id property="id" column="song_id" />
		<result property="name" column="song_name" />
		<result property="title" column="song_title" />
		<result property="year" column="song_year" />
		<result property="url" column="song_url" />
		<result property="comment" column="song_comment" />
		<result property="duration" column="duration" />
		<result property="emotion" column="emotion" />
		<association property="singer" column="singer_id" select="cn.edu.xidian.cs.cm.mapper.SingerMapper.getSingerById" />
	</resultMap>
	
	<select id="getSongById" parameterType="Integer" resultType="Song" resultMap="songResultMap">
		<![CDATA[
			SELECT song_id, song_name, song_title, song_year, song_url, song_comment, duration, emotion, singer_id FROM songs WHERE song_id=#{id}
		]]>
	</select>
	
	<select id="getSongs" resultType="Song" resultMap="songResultMap">
		<![CDATA[
			SELECT song_id, song_name, song_title, song_year, song_url, song_comment, duration, emotion, singer_id FROM songs LIMIT #{0},#{1}
		]]>
	</select>
</mapper>