<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xidian.cs.cm.mapper.UserMapper">
	
	<resultMap id="userResultMap" type="User">
		<id property="id" column="id" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="email" column="email" />
		<collection property="songs" javaType="ArrayList" ofType="Song" resultMap="cn.edu.xidian.cs.cm.mapper.SongMapper.songResultMap" />
	</resultMap>
	
	<select id="getUserById" parameterType="Integer" resultType="User" resultMap="userResultMap">
		<![CDATA[
			SELECT users.* , songs.* FROM users, songs WHERE users.id = #{id}
			AND song_id IN (SELECT us.song_id FROM users_songs us WHERE us.user_id = #{id})
		]]>
	</select>
	
	<select id="getUserId" resultType="Integer">
		<![CDATA[
			SELECT id FROM users WHERE username = #{0} AND password = #{1}
		]]>
	</select>
		
	<select id="getUserByNameAndPass" resultType="User" resultMap="userResultMap">
		<![CDATA[
			SELECT users.* , songs.* FROM users, songs WHERE users.username = #{0} AND users.password = #{1}
			AND song_id IN (SELECT us.song_id FROM users_songs us WHERE us.user_id = users.id)
		]]>
	</select>
	
	<insert id="addUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO users (id, username, password, email) VALUES (null, #{username}, #{password}, #{email})
		]]>
	</insert>
	
	<delete id="delUserById" parameterType="Integer">
		<![CDATA[
			DELETE FROM users WHERE id = #{id}
		]]>
	</delete>
	
	<update id="updateUser" parameterType="User">
		<![CDATA[
			UPDATE users SET username=#{username}, password=#{password}, email=#{email} WHERE id=#{id}
		]]>
	</update>
	
	<insert id="collectSong">
		<![CDATA[
			INSERT INTO users_songs (user_id, song_id) VALUES (#{0}, #{1})
		]]>
	</insert>
</mapper>